apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: expense-ingress
  namespace: expense-app

spec:
  ingressClassName: nginx
  rules:
  - http:
    paths:
    - path: /
      pathType: Prefix
      backend:
        service:
          name: expence-service
          port: 80