apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: expense-app

spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
          - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: expense-secret
                  value: MYSQL_ROOT_PASSWORD
            - name: MYSQL_DATABASE
              value: expenses_tracker

          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
